version: '2'

services:

  nginx:
    image: nginx:latest
    ports:
      - 8095:80
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    volumes_from:
      - php

  php:
    build: ./docker/php/
    volumes:
      - .:/var/www/html
      - ./docker/php/custom.ini:/usr/local/etc/php/conf.d/custom.ini
    links:
        - database
        - database_test

  database:
    image: postgres:10.1
    ports:
      - "5437:${DB_PORT}"
    environment:
      - "POSTGRES_USER=${DB_USERNAME}"
      - "POSTGRES_PASSWORD=${DB_PASSWORD}"
      - "POSTGRES_DB=${DB_DATABASE}"
    volumes:
      - ${BACKUP_DATA_PATH}/postgres:/var/lib/postgresql/data

  database_test:
    image: postgres:10.1
    ports:
      - "5438:${DB_PORT_TEST}"
    environment:
      - "POSTGRES_USER=${DB_USERNAME_TEST}"
      - "POSTGRES_PASSWORD=${DB_PASSWORD_TEST}"
      - "POSTGRES_DB=${DB_DATABASE_TEST}"
